# Ignore raw file 'structures.zip', which is too large
# structures.zip was downloaded on 2025-09-25 (version 5.0)
# downloaded from https://hmdb.ca/downloads
# (https://hmdb.ca/system/downloads/current/structures.zip)
structures.zip